/*
 * Josh Levi project listing repo
 */

html {
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 940px;
    padding: 20px 10px;
    margin: 0 auto;
    background: #f5f5f5;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Links
   ========================================================================== */

a {
    color: #0084b4;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #005E80;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/* Typography
   ========================================================================== */

h1,
h2,
h3 {
    margin: 0 0 1em;
}

h1 {
    margin: 0 0 0.25em;
    font-size: 3em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.125em;
    color: #777;
}

p {
    margin: 0 0 1em;
}

/* Lists
   ========================================================================== */

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* =============================================================================
   Structure
   ========================================================================== */

.grid {
    display: block;
    padding: 0;
    margin: 0 -10px;
    /* remove intra-unit whitespace for all font families */
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    /* protect against WebKit bug with optimizelegibility */
    text-rendering: optimizespeed;
}

.unit-1-3 {
    width: 300px;
    display: inline-block;
    margin: 0 10px 20px;
    /* controls vertical positioning of units */
    vertical-align: top;
    /* reset defaults */
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    *display: inline;
    *zoom: 1;
}

/* Box
   ========================================================================== */

.box {
    display: block;
    overflow: hidden;
    min-height: 200px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    background: #fff;
}

a.box:hover,
a.box:focus,
a.box:active {
    padding: 12px;
    border-width: 4px;
    border-color: #005E80;
    text-decoration: none;
}

/* Header
   ========================================================================== */

.site-header {
    float:left;
    text-align: center;
}

.site-header .box {
    min-height: 452px;
}

.stats {
    margin: 0 0 2em;
    font-size: 1.125em;
}

.twitter-share-button {
    margin-top: 30px;
}

/* Content
   ========================================================================== */

.repo__name {
    margin: 0 0 0.1em;
    font-size: 1.5em;
}

.repo__info {
    display: block;
    margin: 0 0 1.25em;
    font-size: 12px;
    font-weight: bold;
    color: #999;
}

.repo__desc {
    color: #666;
}

/* Footer
   ========================================================================== */

.site-footer {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    clear: both;
}

.site-footer p {
    margin: 0;
    text-align: center;
}


/* =============================================================================
   Small screen adjustments
   ========================================================================== */

@media (max-width:960px) {

    body {
        max-width: 620px;
    }

}

@media (max-width:640px) {

    body {
        box-sizing: border-box;
        max-width: 450px;
        width: 100%;
    }

    .grid {
        margin: auto;
        padding: 0 5px;
    }

    .unit-1-3 {
        margin: 5px auto;
        width: 100%;
    }

}
